@font-face {
    font-family: 'typewriter';
    src: url('fonts/typewriter.ttf') format('truetype');
}

.header{
    border-radius: 20px;
}
.container{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: typewriter;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: typewriter;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 300px; */
    width: 100%;
    padding: 20px;
    border: 1px solid #CCDDE2;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    background-color: #fff;
    font-family: typewriter;
}

input, button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #CCDDE2;
    border-radius: 4px;
    font-family: typewriter;
}

button {
    background-color: #476DAB;
    color: #fff;
    cursor: pointer;
    font-family: typewriter;
}

button:hover {
    background-color: #CCDDE2;
}

.addLinks {
    text-align: center;
    margin-top: 10px;
}

.addLinks a {
    text-decoration: none;
    color: #3498db;
    display: block;
    margin: 0 10px;
}
