<!-- ACCOUNT PAGE-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Account Settings</h1>
        </header>
        <div class="form">
            <div class="user-info">
                <p><strong>Username:</strong> {{ username }}</p>
                <p><strong>Email:</strong> {{ email }}</p>
            </div>
            <div class="account-action">
                <h2>Reset Password</h2>
                <a href="{{ url_for('reset_password') }}" class="button">Reset Password?</a>
            </div>
            <div class="account-action">
                <h2>Change Email Address</h2>
                <a href="/change_email" class="button">Change Email Address</a>
            </div>
            <div class="back-link addLinks">
                <a href="/" class="button">Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>
