<!-- ACCOUNT PAGE-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Account Settings</h1>
    <div>
        <p>Username: {{ username }}</p>
        <p>Email: {{ email }}</p>
    </div>
    <div>
        <h2>Reset Password</h2>
        <a href="{{ url_for('reset_password') }}">Reset Password?</a>
    </div>
    <div>
        <h2>Change Email Address</h2>
        <a href="/change_email">Change Email Address</a>
        <!-- <form action="/change_email" method="post">
            <input type="hidden" name="username" value="{{ username }}">
            <input type="email" name="old_email" placeholder="Old Email Address" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="email" name="new_email" placeholder="New Email Address" required>
            <button type="submit">Change Email</button>
        </form> -->
    </div>
    <br><br><br><a href="/">Back to Home</a>
</body>
</html>