<!-- ADD TASK PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Add Task</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="hamburger-menu">
                <div class="menu-icon" onclick="toggleMenu()">
                    &#9776;
                </div>
                <div class="menu-content" id="menuContent" style="display: none;">
                    <a href="/">Home</a>
                    <a href="/tasks">Tasks</a>
                    <a href="/summary">Summary</a>
                    <a href="/account">Account</a>
                    <a href="/search">Search</a>
                </div>
            </div>
            <h2>Add Task</h2>
        </header>
        <form action="/add_task" method="post"> 
            <input type="text" name="title" placeholder="Task Title" required><br>
            <input type="text" name="description" placeholder="Task Description"><br> 
            <input type="number" name="priority" placeholder="Task Priority" required><br> 
            <input type="date" name="deadline" placeholder="Task Deadline" required><br>
            <div class="buttonContainer">
                <button type="submit">Submit Task</button>
            </div>
        </form>
    </div>

    <script>
        function toggleMenu() {
            var menuContent = document.getElementById("menuContent");
            if (menuContent.style.display === "none") {
                menuContent.style.display = "block";
            } else {
                menuContent.style.display = "none";
            }
        }
    </script>
</body>
</html>
