<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Change Email</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="hamburger-menu">
                <div class="menu-icon" onclick="toggleMenu()">
                    &#9776;
                </div>
                <div class="menu-content" id="menuContent" style="display: none;">
                    <a href="/">Home</a>
                    <a href="/tasks">Tasks</a>
                    <a href="/summary">Summary</a>
                    <a href="/account">Account</a>
                    <a href="/search">Search</a>
                </div>
            </div>
            <h2>CHANGE EMAIL</h2>
        </header>
        
        <form action="/change_email" method="POST" class="form">
            <div class="form-group">
                <label for="old_email">Old Email:</label>
                <input type="email" id="old_email" name="old_email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="new_email">New Email:</label>
                <input type="email" id="new_email" name="new_email" required>
            </div>
            <button type="submit" class="button">Change Email</button>
        </form>
    </div>

    <script>
        function toggleMenu() {
            var menuContent = document.getElementById("menuContent");
            if (menuContent.style.display === "none") {
                menuContent.style.display = "block";
            } else {
                menuContent.style.display = "none";
            }
        }
    </script>
</body>
</html>
