<!-- EDIT TASK PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Edit Task</title>
</head>
<body>
    <div class="container">
        <h2>Edit Task</h2>
        <form action="/edit_task/{{ task_id }}" method="post">
            <input type="text" name="title" placeholder="Task Title" value="{{ task['title'] }}" required><br>
            <input type="text" name="description" placeholder="Task Description" value="{{ task.get('description', '') }}"><br>
            <input type="number" name="priority" placeholder="Task Priority" value="{{ task.get('priority', 1) }}" required><br>
            <!-- Format the date for the input field of type date -->
            <input type="date" name="deadline" placeholder="Task Deadline" value="{{ task['deadline'].strftime('%Y-%m-%d') }}" required><br>
            <div class="buttonContainer">
                <button type="submit">Submit Changes</button>
            </div>
        </form>
    </div>
</body>
</html>
