<!-- EDIT TASK PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit Task</title>
</head>

<body>
	
	<div class="container">
		
		<h2>Edit Task</h2>
		
		<form action="/tasks" method="post">
	
			<input type="text" name="task_title" placeholder="Task Title"><br>
			<input type="text" name="task_description" placeholder="Task Description"><br>
			<input type="number" name="task_priority" placeholder="Task Priority"><br>
			<input type="date" name="task_deadline" placeholder="Task Deadline"><br>
			
			<div class="buttonContainer">
			
				<button type="submit">Submit Changes</button>
			
			</div>
		
		</form>
	
	</div>

</body>
</html>
