<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Reset Password</title>

    <style>
        body {
            margin: 20px; 
            flex-direction: column;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 300px; 
        }
        input, button {
            width: 100%; 
            box-sizing: border-box; 
            margin-bottom: 10px; 
        }
    </style>
</head>
<body>
    <div class="container">

        <form action="/reset_password" method="post">
            <input type="email" name="email" placeholder="Your Email" required>
            <input type="password" name="new_password" placeholder="New Password" required>
            <button type="submit">Reset Password</button>
        </form>

        <div class="addLinks">
        </p><a href="/logout">Back</a></p>
        </div>
    </div>

</body>
</html>
