<!-- HOME PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Task Tracker App</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>HOME</h1>
        </header>
        <!-- MAIN -->
        <main>
            <!-- Display tasks -->
            <h3>This Week's Tasks</h3>
            <div class="task-list">
                {% for task in tasks %}
                <div class="task">
                    <input type="checkbox" id="task{{ loop.index }}" class="task-checkbox">
                    <label for="task{{ loop.index }}" class="task-label">{{ task.title }}</label>
                    <label for="task{{ loop.index }}" class="description">{{ task.description }}</label>
                    <label for="task{{ loop.index }}" class="priority">Priority: {{ task.priority }}</label>
                </div>
                {% else %}
                <p>No tasks found</p>
                {% endfor %}
            </div>

            <!-- BUTTONS -->
            <div class="buttonContainer">
                <a href="/add_task" class="button">Add Task</a>
            </div>
        </main>

        <footer>
        </footer>
    </div>
</body>
</html>
