<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Task Tracker App</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="hamburger-menu">
                <div class="menu-icon" onclick="toggleMenu()">
                    &#9776;
                </div>
                <div class="menu-content" id="menuContent" style="display: none;">
                    <a href="/">Home</a>
                    <a href="/tasks">Tasks</a>
                    <a href="/summary">Summary</a>
                    <a href="/account">Account</a>
                    <a href="/search">Search</a>
                </div>
            </div>
            <h1>HOME</h1>
            <!-- Logout Link/Button-->
            <a href="/logout" class="logout-button">Logout</a>
        </header>
        <!-- MAIN -->
        <main>
            <!-- Display tasks -->
            <h3>This Week's Tasks</h3>
            <div class="taskTable">
                <div class="taskRow">
                    <div class="taskCell headerCell">Task</div>
                    <div class="taskCell headerCell">Desc .</div>
                    <div class="taskCell headerCell">Priority</div>
                    <div class="taskCell headerCell">Deadline</div>
                    <div class="taskCell headerCell">Done ?</div>
                </div>
                <!-- Task List -->
                {% for task in tasks %}
                <div class="taskRow">
                    <div class="taskCell">{{ task.title }}</div>
                    <div class="taskCell tDescription">{{ task.description }}</div>
                    <div class="taskCell">{{ task.priority }}</div>
                    <div class="taskCell">{{ task.deadline.strftime('%Y-%m-%d') if task.deadline else 'N/A' }}</div>
                    <div class="taskCell">
                        <!-- AJAX complete task button -->
                        <button type="button" class="completeTaskButton" onclick="completeTask('{{ task._id }}')">
                            Done
                        </button>
                    </div>
                </div>
                {% else %}
                <div class="taskRow">
                    <p>No tasks found</p>
                </div>
                {% endfor %}
            </div>

            <!-- BUTTONS -->
            <div class="buttonContainer">
                <a href="/tasks" class="button">Manage Tasks</a>
                <a href="/add_task" class="button">Add Task</a>
            </div>
        </main>

        <footer>
        </footer>
    </div>
    <script>
        function completeTask(taskId) {
            // AJAX request for a completed task
            fetch(`/complete_task/${taskId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ task_id: taskId }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // successful done
                console.log('Task completed successfully:', data);
                // reload for changes
                location.reload(); 
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function toggleMenu() {
            var menuContent = document.getElementById("menuContent");
            if (menuContent.style.display === "none") {
                menuContent.style.display = "block";
            } else {
                menuContent.style.display = "none";
            }
        }
    </script>
</body>

</html>
