<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="hamburger-menu">
                <div class="menu-icon" onclick="toggleMenu()">
                    &#9776;
                </div>
                <div class="menu-content" id="menuContent" style="display: none;">
                    <a href="/">Home</a>
                    <a href="/tasks">Tasks</a>
                    <a href="/summary">Summary</a>
                    <a href="/account">Account</a>
                    <a href="/search">Search</a>
                </div>
            </div>
            <h2>Reset Password</h2>
        </header>

        <form action="/reset_password" method="post">
            <input type="email" name="email" placeholder="Your Email" required>
            <input type="password" name="new_password" placeholder="New Password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>

    <script>
        function toggleMenu() {
            var menuContent = document.getElementById("menuContent");
            if (menuContent.style.display === "none") {
                menuContent.style.display = "block";
            } else {
                menuContent.style.display = "none";
            }
        }
    </script>
</body>
</html>
