<!-- RESET PASSWORD PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Reset Password</title>
    <style>
        body {
            margin: 20px; 
        }
        form {
            display: flex;
            flex-direction: column;
            width: 300px; 
        }
        input, button {
            width: 100%; 
            box-sizing: border-box; 
            margin-bottom: 10px; 
        }
        h2{
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>
        <form action="/reset_password" method="post">
            <input type="email" name="email" placeholder="Your Email" required>
            <input type="password" name="new_password" placeholder="New Password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>