<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Search</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="hamburger-menu">
                <div class="menu-icon" onclick="toggleMenu()">
                    &#9776;
                </div>
                <div class="menu-content" id="menuContent" style="display: none;">
                    <a href="/">Home</a>
                    <a href="/tasks">Tasks</a>
                    <a href="/summary">Summary</a>
                    <a href="/account">Account</a>
                    <a href="/search">Search</a>
                </div>
            </div>
            <h2>Search</h2>
        </header>

        <!-- Search bar-->
        <div class="search-button">
            <h2>Search for Task</h2>
            <form action="/search" method="post"> 
                <input type="text" name="searchTitle" placeholder="Search by Task Title" required><br>
                    <button type="submit">Search Task</button>
            </form>
        </div>


        <!-- Column Headers-->
        <div class="taskTableHeader">
            <div class="taskRow">
                <div class="taskCell headerCell">Select</div>
                <div class="taskCell headerCell">Task</div>
                <div class="taskCell headerCell">Description</div>
                <div class="taskCell headerCell">Priority</div>
                <div class="taskCell headerCell">Deadline</div>
                <div class="taskCell headerCell">Completed</div>
                <div class="taskCell headerCell">Edit</div>
            </div>
        </div>

        <!-- Task Search Result -->
        <div class="taskTable">
            {% for task in tasksWithTitle %}
            <div class="taskRow">
                <div class="taskCell">
                    <input type="checkbox" name="task_ids" value="{{ task._id }}">
                </div>
                <div class="taskCell">{{ task.title }}</div>
                <div class="taskCell">{{ task.description }}</div>
                <div class="taskCell">{{ task.priority }}</div>
                <div class="taskCell">{{ task.deadline.strftime('%Y-%m-%d') if task.deadline else 'N/A' }}</div>
                <div class="taskCell">
                    <input type="checkbox" onclick="return false;" {{ 'checked' if task.completed }}>
                </div>
                <div class="taskCell">
                    <a href="/edit_task/{{ task._id }}">Edit</a>
                </div>
            </div>
            {% else %}
            <div class="taskRow">
                <div class="taskCell" colspan="7">No tasks found.</div>
            </div>
            {% endfor %}
    </div>
    <script>
    function toggleMenu() {
        var menuContent = document.getElementById("menuContent");
        if (menuContent.style.display === "none") {
            menuContent.style.display = "block";
        } else {
            menuContent.style.display = "none";
        }
    }
    </script>
</body>
</html>