<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>Task List</title>
</head>

<body>
	<div class="container">

		<header>
			
			<h2>TASKS</h2>
	
		</header>

		<div class="task-list">

			<div class="task">

				<input type="checkbox" id="taskA" class="task-checkbox">
				<label for="taskA" class="task-label">Task A</label>
				<label for="taskA" class="description">Description</label>
				<label for="taskA" class="priority">Priority</label>

			</div>

			<div class="task">

				<input type="checkbox" id="taskB" class="task-checkbox">
				<label for="taskB" class="task-label">Task B</label>
				<label for="taskB" class="description">Description</label>
				<label for="taskB" class="priority">Priority</label>

			</div>

		</div>
	
	</div>

</body>
</html>
